# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MongoDB binaries
Backend/mongodb/
Backend/mongodb*/

node_modules/
.env
dist/
build/
coverage/

*.zip
*.exe
*.msi
*.7z

mongodb*/

node_modules/
.env
*.msi
*.exe
*.zip
*.7z
mongodb*
Backend/mongodb*
