node_modules/
.env
dist/
build/
coverage/

*.log
npm-debug.log*

.DS_Store
Thumbs.db

.vscode/settings.json

# MongoDB binaries
Backend/mongodb/
Backend/mongodb*/

node_modules/
.env
dist/
build/
coverage/

*.zip
*.exe
*.msi
*.7z

mongodb*/
